@keyframes heartBeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.8);
    }
    to {
        transform: scale(1);
    }
}
/* .animate__animated.animate__fadeInUp {   //анимация длительности и задержки
    --animate-duration: 2s;                 //недостатки: срабатывает однократно, задержка не ощущается
    --animate-delay: 10s;
    --animate-repeat: 2;
} */