.up_shevron {
    display: none;
    position: fixed;    //всегда распологается в одном и том же месте экрана
    bottom: 40px;       //позиционирование на экране
    right: 40px;        //см. выше
    width: 40px;        //определяем размер блока
    height: 40px;       
    img {               //стилизация img из .pageup
        width: 100%;    //занимает весь размер блока по ширине
    }

}