.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-end;
    
    &__official {
        // margin-top: 20px;
        font-size: 12px;
        font-weight: 500;
        // line-height: 1.2;
        color: #ffffff;
        text-align: center;
        span {
            display: block;
            // margin-top: 10px;
            font-size: 18px;
            font-weight: 700;
            }
    }
    &__phone {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: #ffffff;
            // text-decoration: underline;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}